/* MyFunkoWishlist.css */

.custom-card {
  background-color: #333; 
  border: 1px solid #ced4da; 
  border-radius: 0.5rem; /* Optional: Add rounded corners */
}

.collection-wrapper {
  background-color: #f0f8ff; /* Change this to your desired background color */
  padding: 20px; /* Optional: Add some padding */
  min-height: 100vh; /* Optional: Ensure it covers the full height of the viewport */
}

.collection-title {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  text-align: center; 
  font-weight: bold;  
  text-transform: uppercase;
  padding-top: 20px;
  color: #292828
}

.notification {
  margin-top: 10px;
  /* Space above the notification */
  padding: 15px;
  /* Increased padding for a bolder look */
  border: 2px solid #007bff;
  /* Blue border to match the button color */
  background-color: #1e1e1e;
  /* Dark background for contrast */
  color: #ffffff;
  /* White text for readability */
  border-radius: 8px;
  /* More rounded corners */
  font-weight: bold;
  /* Bold text */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  /* Shadow for depth */
  animation: fadeIn 0.5s;
  /* Fade-in effect */
}

/* Optional: Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* .outerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #e3f2fd;
  }
  
  .funkoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .funkoContainer:hover {
    transform: scale(1.05);
  }
  
  .images {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .funkoName {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .funkoContainer:nth-child(even) {
    background-color: #f1f8e9;
  } */