/* MyFunkoSale.css */

.row {
  max-height: 90vh; 
  overflow-y: auto; 
}

.custom-card {
  background-color: #333; 
  border: 1px solid #ced4da; 
  border-radius: 0.5rem; 
}

.collection-wrapper {
  background-color: #f0f8ff; 
  padding: 20px; 
  min-height: 100vh; 
}

.collection-title {
  text-align: center; 
  font-weight: bold;  
  text-transform: uppercase;
  padding-top: 20px;
  color: #292828
}

.outerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #fafafa;
  }
  
  .funkoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .funkoContainer:hover {
    transform: scale(1.05);
  }
  
  .images {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .funkoName {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .priceButton {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .priceButton:hover {
    background-color: #218838;
    transform: scale(1.1);
  }
  