.footerContainer {
    background-color: #060606; /* Match the header's background color */
    color: #fcfcfc; /* White text color */
    padding: 20px 0; /* Padding for spacing */
    display: flex;
    justify-content: center; /* Center content horizontally */
  }
  
  .footerList {
    list-style-type: none; 
    display: flex;
    gap: 20px; 
  }
  
  .footerLink {
    font-size: 1em;
    color: rgb(248, 248, 251);
  }
  
  .footerAnchor {
    color: #fcf9f9; 
    text-decoration: none; /* Remove underline from link */
    transition: color 0.3s ease-in-out; 
  }
  
  .footerAnchor:hover {
    color: rgba(255, 255, 255, 0.6); 
  }
  
  a:visited {
    color: #fff; /* Match the normal link color */
  }